.offers {
    box-sizing: border-box;
    margin: 30px 0;
}

.carousel {
    position: relative;
    max-width: 768px;
}

.carousel-inner {
    max-width: 100%;
    overflow: hidden;
    background-color: rgb(180, 104, 255);
}

.carousel-items * {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.carousel-items {
    transition: .5s;
}

.carousel-item {
    display: block;
    float: left;
    position: relative;
    height: auto;
    border: 1px solid black;
}

/* remove later */
.card-content {
    max-width: 360px;
    margin: 10px;
    text-align: center;
    padding: 10px;
    background-color: rgb(250, 53, 53);
}
/* remove later */

.carousel-btn {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: auto;
    cursor: pointer;
    color: #fff;
    border: none;
    font-family: Calibri, sans-serif;
    transition: .2s;
    background-color: #000000b6;
}

.carousel-btn:hover {
    background-color: #3f3f3fb6;
}

.left-btn {
    left: 0;
}

.right-btn {
    right: 0;
}

.dot-container {
    display: flex;
    width: min-content;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -26px;
    margin: auto;
}

.carousel-dot {
    display: inline-block;
    margin-right: 4px;
    width: 22px;
    height: 22px;
    border-radius: 22px;
    border: none;
    background-color: green;
    cursor: pointer;
}

.carousel-dot:hover {
    background-color: rgb(36, 189, 36);
}

.carousel-dot:last-child {
    margin-right: 0;
}

@media (max-width: 499px) {
    .carousel-item {
        position: relative;
        min-width: 50%;
        padding-top: 50%;
    }
}