* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

a {
    width: fit-content;
}

.container {
    padding: 0 10px;
}

.card-container,
.box-container,
.carousel-container {
    border: 2px solid #333;
    margin-bottom: 16px;
}