.popup {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  pointer-events: none;
  transition: 0.2s;
  background-color: #00000099;
}

.popup.active {
  opacity: 1;
  pointer-events: all;
}

.popup .content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 300px;
  max-height: 300px;
  padding: 20px;
  background-color: #fff;
}

.close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  border-radius: 20px;
  border: 2px solid #111111;
}
