.check {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}
.check .marker {
  position: relative;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid #ccc;
  margin-right: 10px;
}
.check .marker::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  margin: auto;
  width: 10px;
  height: 10px;
  border-radius: 2px;
  transform: scale(0);
  transition: 0.2s ease-in-out;
  background-color: #7a5cfa;
}
.check input {
  display: none;
}
.check input:checked ~ .marker::before {
  transform: scale(1);
}
.check .text {
  line-height: 14px;
  user-select: none;
}
