/* general style */
/* 
focus: background-color
active: background-color
*/

.button {
  display: block;
  width: 140px;
  min-height: 35px;
  font-size: 1rem;
  color: #000000;
  text-decoration: none;
  border-radius: 4px;
  border: none;
  outline: none;
  background-color: #aaaaaa;
  transition: 0.4s;
  cursor: pointer;
}

.button:focus {
  background-color: #888888;
}

.button:active {
  background-color: #999999;
}

.button:hover {
  color: #00000099;
  background-color: #bbbbbbd9;
  box-shadow: 0 0 10px #0000004d;
}

/* active button style */

.button.active-btn {
  background-color: #ffdb00;
}

.button.active-btn:focus {
  background-color: #ffa600;
}

.button.active-btn:active {
  background-color: #ffc400;
}

.button.active-btn:hover {
  background-color: #ffe23e;
  box-shadow: 0 0 10px #ffdb00;
}

/* disabled button */
.button:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.button:disabled:hover {
  box-shadow: none;
  color: #000000;
  background-color: #aaaaaa;
}

/* label button */
label.button {
  line-height: 35px;
  text-align: center;
}

label.button input[type="checkbox"] {
  position: absolute;
  clip: rect(0,0,0,0);
  pointer-events: none;
}

/* multiple label buttons */
.mult-btns-container {
  display: flex;
  max-width: 160px;
  justify-content: space-between;
}

.mult-btns-container li {
  list-style-type: none;
}

.mult-btns-container li input {
  position: absolute;
  clip: rect(0,0,0,0);
}

.mult-button {
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
  border-radius: 8px;
  background-color: #aaaaaa;
  transition: 0.4s;
}

.mult-button:hover {
  background-color: #bbbbbbd9;
  box-shadow: 0 0 8px #0000004d;
}

input:checked ~ .mult-button {
  background-color: #ffdb00;
}

input:checked ~ .mult-button:hover {
  background-color: #ffe23e;
  box-shadow: 0 0 8px #ffdb00;
}

/* link button */
a.button {
  text-decoration: none;
  text-align: center;
  line-height: 35px;
}

/* button animation */

.button .arrow {
  display: inline-block;
}

.button:hover .arrow {
  animation: arrow-anima 1s ease-in-out infinite;
}

@keyframes arrow-anima {
  50% {
    transform: translateX(5px);
  }
}
